
@model IEnumerable<Car>

@{
    ViewData["Title"] = "Index";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    

    <h2>All Cars</h2>

    <table>
        @foreach (var car in @Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Year</td>
                <td>@car.Manufacturer</td>
            </tr>

        }
    </table>

</body>
</html>


