@model Movie

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">

    <label asp-for="Title"></label>
    <input type="text" asp-for="Title" />
    <span asp-validation-for="Title"></span>

    <label asp-for="Length"></label>
    <input type="number" asp-for="Length"/>

    <input type="submit" value="Save!" class="btn btn-primary"/>

</form>