<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @RenderBody()
    <footer>
        This is the razor page layout
        @RenderSection("footer", required: false)
    </footer>
    <environment include="Development">
          <script>
            // development scripts
          </script>
    </environment>
    <environment exclude="Development">
        <script>
            // production
        </script>
    </environment>
</body>
</html>
