@page

@model TrafficWeb.Pages.CarListModel
@{
    ViewData["Title"] = "CarList";
}

<h2>Car List</h2>

<vc:car-list></vc:car-list>

@*@foreach(var car in Model.Cars)
{
    <div>
        @Html.Partial("_cardetails", car)
    </div>
}*@


@section footer {
    <div>This is custom footer content</div>
}

