@page
@model TrafficWeb.Pages.NewCarModel
@{
    ViewData["Title"] = "NewCar";
}

<h2>New Car</h2>

<form method="post" asp-page="NewCar" >

    <div>
        <div asp-validation-summary="ModelOnly"></div>
    </div>
    <div>
        <label asp-for="NewCar.Year"></label>
        <input asp-for="NewCar.Year" />   
        <span asp-validation-for="NewCar.Year"></span>
    </div>
    <div>
        <label asp-for="NewCar.Manufacturer"></label>
        <input asp-for="NewCar.Manufacturer" />
        <span asp-validation-for="NewCar.Manufacturer"></span>
    </div>
    <div>
        <input type="submit" value="Save Car" />
    </div>
</form>

