<html>

<html>
<head>
    <title></title>
    <link href="~/css/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div>
    <h1>At The Movies!</h1>
    <hr/>
    @RenderBody()
</div>
</body>
</html>